[submodule "dino/dinov3"]
	path = dino/dinov3
	url = https://github.com/facebookresearch/dinov3
[submodule "LightGlue"]
	path = LightGlue
	url = https://github.com/cvg/LightGlue.git
[submodule "pycuvslam"]
	path = pycuvslam
	url = https://github.com/NVlabs/PyCuVSLAM.git
